doctype html
html(lang='en')
  head
    include ./head.pug
  body
    main
      include ./header.pug
      each content in data.contents
        table
          each exampleCode in content.code
            tr
              if exampleCode.comment
                td #[p!= exampleCode.comment]
              else
                td
              if exampleCode.code
                td #[pre #[code.hljs!= exampleCode.code]]
              else
                td
        table
          each exampleScript in content.script
            tr
              if exampleScript.comment
                td #[p!= exampleScript.comment]
              else
                td
              if exampleScript.code
                td #[pre #[code.hljs!= exampleScript.code]]
              else
                td

      include ./footer.pug