doctype html
html
  include ./head.pug
  body
    main
      include ./header.pug
      table
        each content in data.code
          tr
            if content.comment
              td #[p!= content.comment]
            else
              td
            if content.code
              td #[pre #[code.hljs!= content.code]]
            else
              td
      table
        each content in data.script
          tr
            if content.comment
              td #[p!= content.comment]
            else
              td
            if content.code
              td #[pre #[code.hljs!= content.code]]
            else
              td

      include ./footer.pug